body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 28px;
}

/* Reset the container */
.container {
  max-width: none !important;
  width: 970px;
}

#header {
    /*margin: 10px 0px 10px 0px;*/
}

#city-name {
    color: #999;
    font-weight:normal;
}

#title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    /*font-size: 1.7em;*/
    line-height: 26px;
}

#updated-date-container {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.stat-title {
    font-size: 14px;
    color: #999;
}

.stat {
    font-size: 24px;
    color: #000;
}

#footer-container {
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
}

#footer {
    height: 56px; 
    position: relative;
    font-size: 12px;
}

#footer-profile {
    width:60px; 
    border-radius:60px;
}

#footer-stat-container {
    display: inline-block;
    color: #777;
}

#footer-text {
    height: 37px;
    position: absolute;
    top: 50%;
    left: 85px;
    margin-top: -18px;
}

#footer strong {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.footer-text-credits {
    display: inline-block;
    margin-left: 10px;
}

.footer-text-credits a:hover {
    color: #777;
}

/* General Element Styles */
a {
    text-decoration: none;
    color: #333;
}

/* Utility Classes */
.hidden {
    display: none;
}

.row-margin {
    margin-bottom: 10px;
}

/* Handling the search element */
#search-bar {
    position: relative;                
}

.icon-search {
    position: absolute;
    top: 5px;
    left: 176px;
    font-size: 14px;
    color: #aaa;
    width: 26px;
    height: 24px;
    line-height: 18px;
    cursor: pointer;
}

.icon-search:hover {
    color: #050505;
}

.icon-search:active {
    color: #050505;
}

input#request-query {
    width: 200px;
    height: 28px;
    padding: 5px 4px 4px 10px;
    font-size: 13px;
    /*line-height: 18px;*/
    color: #5a5a5a;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000;
    -webkit-font-smoothing: antialiased;
}

*, *:active, *:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -moz-outline-width: 0;
}