{% extends "base.html" %}
{% block body %}
    <div id="content" class="container">
        {% include "header.html" %}
        {% include "updated-date.html" %}
        {% include "stats.html" %}
        <div class="row row-margin">
            <div class="col-xs-12" style="background: #CCC">&nbsp;</div>
        </div>
        <div class="row row-margin">
            <div class="col-xs-9" style="background: #CCC">&nbsp;</div>
            <div class="col-xs-3" style="background: #CCC">&nbsp;</div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}
