{% extends "base.html" %}
{% block body %}
    <div class="col-xs-12" style="height: 17em; position: absolute; background: #CCC url({{ url_for('static', filename='images/header.jpg') }}) center no-repeat;">&nbsp</div>
    <div id="content" class="container" style="padding-top: 1em">
        {% include "header.html" %}
        <div class="row" style="margin-top: 1em;">
            <div class="col-xs-12" style="background: #CCC">&nbsp;</div>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-xs-9" style="background: #CCC">&nbsp;</div>
            <div class="col-xs-3" style="background: #CCC">&nbsp;</div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}
