        <div id="footer-container" class="row-fluid row-margin">
            <div id="footer" class="span12">
            	<img id="footer-profile" src="{{ url_for('static', filename='images/mayor.jpg') }}">
            	<div id="footer-text">
	            	<div id="footer-stat-container">
		            	<span><strong>512,000</strong></span>
		            	<div>things fixed since 2007</div>
	            	</div>
	            	<div class="footer-text-container">
	            		<a href="https://twitter.com/newurbanmechs">
		    				<i class="icon icon-twitter"></i> New Urban Mechanics
		    			</a>
		    		</div>
		    		<div class="footer-text-container">
		    			&copy; 2013
		    		</div>
	    		</div>
            </div>
        </div>