<div class="col-xs-12" style="height: 15em; background: #000;">
        <div id="header" class="row">
            <div class="col-xs-9">
                <a id="title" href="/">
                    <span id="city-name">Boston</span>
                    <span>311 Dashboard</span>
                </a>
                <span style="color: #F8F8F8;">Last updated 2 days ago</span>
            </div>
            <div class="col-xs-3">
                <form>
                    <div id="search-bar">
                        <label for="request-submit"><i class="icon icon-search"></i></label>
                        <input id="request-submit" type="submit" value="" class="hidden" />
                        <input id="request-query" type="text" placeholder="Location or Request ID" name="search">
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 3em">
            <div class="col-xs-4">
                <div class="stat-title">MOST REQUESTS PAST MONTH</div>
                <div class="stat">
                    <span id="most-requests">Sidewalk or Street</span>
                </div>
                <div class="sub-stat">
                    <span style="color: #F8F8F8; font-style: italic;">+10% from last Friday</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stat-title">MOST ACTIVE NEIGHBORHOOD</div>
                <div class="stat">
                    <span id="stale-count">Back Bay</span>
                </div>
                <div class="sub-stat">
                    <span style="color: #F8F8F8; font-style: italic;">+15% from last Friday</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stat-title">AVERAGE RESPONSE TIME</div>
                <div class="stat">
                    <span id="average-response-time">92</span> hrs
                </div>
                <div class="sub-stat">
                    <span style="color: #F8F8F8; font-style: italic;">-36% from last Friday</span>
                </div>
            </div>
        </div>
</div>