<div class="col-xs-12" style="text-shadow: 0 1px 1px rgba(0,0,0,.5); color: #f8f8f8; height: 15em; /*border: 1px solid #FFF;*/">
        <div id="header" class="row" style="margin-top: 1em">
            <div class="col-xs-9">
                <a id="title" href="/">
                    <span id="city-name">Boston</span>
                    <span>311 Dashboard</span>
                </a>
                <span style="">Last updated 2 days ago</span>
            </div>
            <div class="col-xs-3">
                <form>
                    <div id="search-bar">
                        <label for="request-submit"><i class="icon icon-search"></i></label>
                        <input id="request-submit" type="submit" value="" class="hidden" />
                        <input id="request-query" type="text" placeholder="Location or Request ID" name="search">
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 3em">
            <div class="col-xs-4">
                <div class="stat-title">MOST REQUESTS PAST MONTH</div>
                <div class="stat">
                    <span id="most-requests">Sidewalk or Street</span>
                </div>
                <div class="sub-stat">
                    <span style="font-style: italic;">&#43;10% from last Friday</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stat-title">MOST ACTIVE NEIGHBORHOOD</div>
                <div class="stat">
                    <span id="stale-count">Back Bay</span>
                </div>
                <div class="sub-stat">
                    <span style="font-style: italic;">&#43;15% from last Friday</span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stat-title">AVERAGE RESPONSE TIME</div>
                <div class="stat">
                    <span id="average-response-time" style="letter-spacing: 1px;">92</span>hrs
                </div>
                <div class="sub-stat">
                    <span style="font-style: italic;">
                        <span style="letter-spacing:1px">&minus;</span>36% from last Friday
                    </span>
                </div>
            </div>
        </div>
</div>