
        <div id="header" class="row">
            <div class="col-xs-9">
                <a id="title" href="/">
                    <span id="city-name">Monum</span>
                    <span>Pieces 2013</span>
                </a>
            </div>
            <div class="col-xs-3">
                <form>
                    <div id="search-bar">
                        <label for="request-submit"><i class="icon icon-search"></i></label>
                        <input id="request-submit" type="submit" value="" class="hidden" />
                        <input id="request-query" type="text" placeholder="Location or Request ID" name="search">
                    </div>
                </form>
            </div>
        </div>