        
        <div class="row row-margin">
            <div class="col-xs-3">
                <div class="stat-title">Most Requests Past Month</div>
                <div class="stat">
                    <span id="most-requests">Sidewalk or Street</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="stat-title">Number of Stale Requests</div>
                <div class="stat">
                    <span id="stale-count">96</span> Requests
                </div>
            </div>
            <div class="col-xs-3">
                <div class="stat-title">Average Response Time</div>
                <div class="stat">
                    <span id="average-response-time">92</span> Hours
                </div>
            </div>
        </div>