{% extends "base.html" %}
{% block body %}
    <div id="content" class="container content">
        <div class="row-fluid">
            <div class="span9" style="background: #CCC">&nbsp;</div>
            <div class="span3" style="background: #CCC">&nbsp;</div>
        </div>
        <div class="row-fluid">
            <div class="span4" style="margin: 10px 0px 10px 0px; background: #CCC;">&nbsp;</div>
        </div>
    </div>
    <!--<footer class="footer" style="background: #FF0000">
        <div class="container">
            Footer
        </div>
    <footer>-->
{% endblock %}