{% block header %}
        <div class="row-fluid" style="margin: 10px 0px 10px 0px;">
            <div class="span9">
                <a class="title" href="/">
                    <span class="city-name">Monum</span>
                    <span>Pieces 2013</span>
                </a>
            </div>
            <!-- style="margin-top: -.25em;" -->
            <div class="span3">
                <form>
                    <div id="search-bar">
                        <label for="request-submit"><i class="icon icon-search"></i></label>
                        <input id="request-submit" type="submit" value="" class="hidden" />
                        <input id="request-query" type="text" placeholder="Location or Request ID" name="query">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}